@use "../base/mixins" as mix;
@use "../base/variables" as var;

// Global font styling
p {
  font-size: var.$p-fontSize;
  font-family: var.$p-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

h1 {
  font-size: var.$h1-fontSize;
  font-family: var.$h1-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

h2 {
  font-size: var.$h2-fontSize;
  font-family: var.$h2-h5-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

h3 {
  font-size: var.$h3-fontSize;
  font-family: var.$h2-h5-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

h4 {
  font-size: var.$h4-fontSize;
  font-family: var.$h2-h5-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

h5 {
  font-size: var.$h5-fontSize;
  font-family: var.$h2-h5-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

// Global colors
body {
  background-color: #efefef;
}

label {
  font-size: var.$h3-fontSize;
  font-family: var.$h2-h5-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}

a{
  font-size: var.$p-fontSize;
  font-family: var.$p-fontFamily;
  font-weight: var.$weight-400;
  color: var.$primary-color;
}