/* flexbox */
@mixin flex ($flex:flex, $direction:row, $justify:flex-start, $align:stretch){
    display:$flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/* main bttn ex. "Handla nu"-button*/
@mixin bttnDesignPrimary ($background:#4D3328, $color: #FCE5C3, $font-size: 1.5rem, $font-weight: 600, $border-radius: 20px, $shadow: 0px 0px 10px #FFA50280){
    background-color: $background;
    color: #FCE5C3;
    font-size: $font-size;
    font-weight: $font-weight;
    border-radius: $border-radius;
    filter: drop-shadow($shadow);
}

/* sm buttons ex. productcard */
@mixin bttnDesignSecondary ($background: white, $border: 1px solid black, $shadow: 0px 0px 10px #FFA50280){
    background-color: $background;
    border: $border;
    filter: drop-shadow($shadow);
}