$p-fontSize: 1rem;
$small-font: 0.875rem;

$h1-fontSize: 1.75rem;
$h2-fontSize: 1.5rem;
$h3-fontSize: 1.25rem;
$h4-fontSize: 1.125rem;
$h5-fontSize: 1rem;

$p-fontFamily: 
$small-fontFamily: 

$h1-fontFamily:
$h2-fontFamily: 
$h3-fontFamily: 
$h4-fontFamily: 
$h5-fontFamily: 