@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/layout" as *;

#cartContainer{
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 100;
    width: 0%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 1s ease;
    overflow: hidden;
    &.show{
    width: 90%;
    transform: translateX(0);
    }
    &.hide{
        width: 0%;
        transform: translateX(100%);
    }
    #cartHeader{
        @include flex($justify: space-between, $align: center);
        background-color: $secondary-color;
        padding: $p20;
        #cartCloseContainer{
            position: relative;
            height: 27.5px;
            width: 27.5px;
            span{
                position: absolute;
                width: 0.3rem;
                height: 1.5rem;
                top: 50%;
                left: 50%;
                border-radius: 3px;
                background-color: $primary-color;
                transform-origin: center;
                cursor: pointer;
            }
            #cartCloseSpan1{
                transform: translate(-50%, -50%) rotate(45deg);
            }
            #cartCloseSpan2{
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
    #cartPriceSummary{
        padding: $p20;
    }
    
    #cartBttn{
        position: absolute;
        width: 100%;
        @include flex($justify:center);
        a {
            text-decoration: none;
            @include bttnDesignPrimary;
            padding: $p20;
        }
    }
}