@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/layout" as *;

#cartContainer{
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    max-width: 85%;
    transform: translateX(100%);

    transition: 
        transform 0.6s ease-in-out,
        filter 0.6s ease-in-out;

    overflow-y: auto;

    scrollbar-gutter: stable;
    &.show{
    transform: translateX(0);
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.334));
    }
    &.hide{
        transform: translateX(100%);
    }
    #cartHeader{
        @include flex($justify: space-between, $align: center);
        background-color: $secondary-color;
        padding: $p20;
        #cartCloseContainer{
            position: relative;
            height: 27.5px;
            width: 27.5px;
            span{
                position: absolute;
                width: 0.3rem;
                height: 1.5rem;
                top: 50%;
                left: 50%;
                border-radius: 3px;
                background-color: $primary-color;
                transform-origin: center;
                cursor: pointer;
            }
            #cartCloseSpan1{
                transform: translate(-50%, -50%) rotate(45deg);
            }
            #cartCloseSpan2{
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:hover span{
                background-color: $hover;
            }
        }
    }
    #cartPriceSummary{
        padding: $p20;
    }
    #totalHeader{
        margin: $m10;
        #totalText{
            margin: 0;
        }
        #momsText{
            margin: 0;
            font-size: 0.7rem;
            }
    }
    #cartBttn{
        width: 100%;
        position: absolute;
        @include flex($justify:center);
        a {
            text-decoration: none;
            @include bttnDesignPrimary;
            padding: $p20;
            opacity: 1;
            &:hover{
                background-color: $hover;
            }
        }
    }
}
#cartCounter {
    position: absolute;
    top: 6px;
    right: 14px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}