@use "../base/mixins" as mix;
@use "../base/variables" as var;

body {
    background-color: #efefef;
    margin: 0;
    min-width: 320px;
}

#app{
    width: 100%;
    text-align: left;
    @include mix.flex($direction:column, $align:center);
    h2{
        font-size: var.$h2-fontSize;
        font-family: var.$h2-fontFamily;
        font-weight: var.$weight-600;
        color: var.$primary-color;
    }
    h3{
        font-size: var.$h3-fontSize;
        font-family: var.$h3-fontFamily;
        font-weight:var.$weight-600;
        color: var.$primary-color;
    }
    p{
        font-family: var.$p-fontFamily;
        color: var.$primary-color;
    }
    a{
        font-family: var.$p-fontFamily;
        color: var.$primary-color;
        text-decoration: none;
        @include mix.flex($justify:center, $align:center);
        gap: 0.5em;
    }
}
nav{
    background-color: white;
    width: 100%;
    #navBar{
        padding: var.$p20;
        position: relative;
        @include mix.flex($direction: column, $align:center);
        @include mix.respond(md){
            flex-direction: row;
        }
        p{
            margin: 0;
        }
        h1 {
            font-size: var.$h1-fontSize;
            font-family: var.$h1-fontFamily;
            color: var.$primary-color;
            @include mix.respond(md) {
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            filter: drop-shadow(var.$shadow-text);
            position: absolute; 
            }
        }

    }
}
fieldset{
    @include mix.flex($direction: column);
    border-radius: 10px;
    padding: var.$p20;
    border: 1px solid lightgrey;
    
    legend {
        padding: var.$p5;
        color: rgb(170, 170, 170);
        font-family: var.$p-fontFamily;
    }

    label{
        font-size: var.$h4-fontSize;
        font-family: var.$h4-fontFamily;
        font-weight: var.$weight-600;
        color: var.$primary-color;
        margin-top: var.$m10;
    }
    input{
        padding: var.$p20;
        border-radius: 10px;
        border: 1px solid lightgrey;
        font-size: 1rem;
        &::placeholder{
            color: rgb(209, 209, 209);
        }
    }
}

#cartSection{
    background-color: rgb(235, 235, 235);
    padding: var.$p20;
    margin: var.$m20;
    max-width: 700px;
    width: 80%;
    border-radius: 25px;
    border: 1px solid rgb(204, 204, 204);
    #totalPrice{
        h3{
            margin: 0;
        }
        p{
            margin: 0;
            font-size: 0.7rem;
            color: rgb(176, 176, 176);
        }
    }
}

#paymentSection{
    background-color: rgb(235, 235, 235);
    max-width: 700px;
    width: 80%;
    padding: var.$p20;
    border-radius: 25px;
    border: 1px solid rgb(204, 204, 204);
    #paymentMenuText{
        margin: var.$m20;
        h2{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    #submitOrder {
        @include mix.bttnDesignPrimary;
        margin: var.$m15;
        padding: var.$p15;
        font-family: var.$h2-fontFamily;
        cursor: pointer;
        border: none;
        &:hover{
            background-color: var.$hover;
        }
    }
}
