@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/layout" as *;

body {
    background-color: #efefef;
    margin: 0;
    min-width: 320px;
}
#app{
    width: 100%;
    text-align: left;
    margin-bottom: $p20;
    @include flex($direction:column, $align:center);
    h2{
        font-weight: $weight-600;
    }
    h3{
        font-weight:$weight-600;
    }
    a{
        text-decoration: none;
        @include flex($justify:center, $align:center);
        gap: 0.5em;
    }
}
nav{
    background-color: white;
    width: 100%;
    #navBar{
        padding: $p20;
        position: relative;
        @include flex($direction: column, $align:center);
        @include respond(md){
            flex-direction: row;
        }
        p{
            margin: 0;
        }
        .site-logo {
            filter: drop-shadow($shadow-text);
            @include respond(md) {
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            position: absolute; 
            }
        }
    }
}
fieldset{
    @include flex($direction: column);
    border-radius: 10px;
    padding: $p20;
    width: 90%;
    border: 1px solid lightgrey;
    
    legend {
        padding: $p5;
        color: rgb(170, 170, 170);
        font-family: $p-fontFamily;
    }

    label{
        font-size: $h4-fontSize;
        font-weight: $weight-600;
        color: $primary-color;
        margin-top: $m10;
    }
    input{
        padding: $p20;
        border-radius: 10px;
        border: 1px solid lightgrey;
        font-size: 1rem;
        &::placeholder{
            color: rgb(209, 209, 209);
        }
    }
}

#cartSection{
    background-color: rgb(235, 235, 235);
    padding: $p20;
    margin: $m20;
    max-width: 700px;
    width: 80%;
    border-radius: 25px;
    border: 1px solid rgb(204, 204, 204);
    #totalPrice{
        h3{
            margin: 0;
        }
        p{
            margin: 0;
            font-size: 0.7rem;
            color: rgb(176, 176, 176);
        }
    }
}

#paymentSection{
    background-color: rgb(235, 235, 235);
    max-width: 700px;
    width: 80%;
    padding: $p20;
    border-radius: 25px;
    border: 1px solid rgb(204, 204, 204);
    #paymentMenuText{
        margin: $m20;
        h2{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    #checkoutForm{
        @include flex($direction: column, $justify:center, $align:center);
    
        #submitOrder {
            @include bttnDesignPrimary;
            margin: $m15;
            padding: $p15;
            cursor: pointer;
            border: none;
            &:hover{
                background-color: $hover;
            }
        }
    }
    #orderConfirmation{
        position: fixed;
        background-color: white;
        padding: $p20;
        border-radius: $border-radius;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.197));
    }
}
