@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "sass:map";

/* Landing page – Hero (mobile-first) */

.landing-hero {
position: relative;


&__image {
  width: 100%;
  height: 87svh; // styr hur inzoomad den känns
  display: block; // tar bort default gap under img
   
  object-fit: cover;   // zoomar och fyller ytan
  object-position: center;
  position: relative;
  z-index: 0; 
}
  /* Overlay för läsbarhet */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.422);
    z-index: 1;
  }

  &__content {
    position: absolute;
    inset: 0;
    z-index: 2;
    padding: 0.5rem 0rem 4rem;

    //width: 100%;
    max-width: 34rem; // begränsar bredd på textinnehåll
    margin: 0 auto; // centrerar innehåll horisontellt

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Typografi kommer från global layout (h3/h1/p),
     här sätter vi bara spacing + ev vikt/effekt */
  &__welcome {
    margin: 4rem 1rem 0.5rem;
    font-weight: $weight-600;
    font-family: $h1-h5-fontFamily;
  }

  &__title {
    @include sizeTitle;
    font-family: $brand-fontFamily;
    margin: 0 1rem 3rem;
  }

  &__subtitle {
    margin: 0 0 1rem 2rem;
    max-width: 40ch;
  }

  &__cta {
    @include bttnDesignPrimary();
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    width: auto;
    max-width: 17rem;
    padding: 0.95rem 1.5rem;
    margin: 3rem 2rem 0;

    &:hover {
      background-color: $hover;
      color: $secondary-color;
    }
  }
}

/* Tablet och uppåt 
@include respond(md) {
  .landing-hero {


    &__content {
      width: auto;
    }

    &__cta {
      width: auto;
    }
  }
}
*/

@include respond(md) {
  .landing-hero__image {
    height: 97svh;
    object-fit: cover;
  }
  .landing-hero__content {
    padding: 1.75rem 1rem 4rem;
    max-width: 80rem;
    
  }
}

/* Desktop och uppåt */
@include respond(lg) {
  .landing-hero__image {
    height: auto;
    object-fit: contain;
  }
  .landing-hero__content {
    padding: 5rem 5rem 6rem;
}
}
