@use "../base/mixins" as *;
@use "../base/variables" as *;

.productPageContent {
  min-height: 100svh;

  background-image: url("/src/assets/productpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* plats för fixed header + luft */
  padding: 6.5rem $p15 4.5rem;

  /* Overlay för läsbarhet */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.35);
  }

  &__content {
    position: relative;
    z-index: 1;

    width: 100%;
    margin: 3rem;
  }

  &__title {
    @include sizeTitle;
  }
}

#productContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;

  .product-card {
    background-color: #f8f4e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img.product-image {
      width: 100%;
      max-width: 200px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .product-info {
      h3 {
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 10px;
      }
    }
    .add-to-cart {
      background-color: #ffda8f;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        background-color: #ffcc4d;
      }
    }
  }
}
