@use "../base/mixins" as *;
@use "../base/variables" as *;

/* Background image and styling */
.productPageContent {
  min-height: 100svh;
  position: relative;
  padding: 6.5rem 0 4.5rem;

  background-image: url("/src/assets/productpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 4.5rem $p15 1.5rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    z-index: 0;
  }

  &__title {
    @include sizeTitle;
    @include heading-h1;
    font-family: $h1-h5-fontFamily;
    margin: 20px 20px;
  }

  .productWrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__content {
    width: 100%;
  }
}

/* Turning productContasiner into a grid */
#productContainer {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  padding: 0;

  grid-template-columns: repeat(2, 1fr);

  /* Styling the individual product cards and their content */
  .productCard {
    background-color: #f8f4e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    position: relative;
    z-index: 0;

    img.productImage {
      width: 100%;
      max-width: 300px;
    }

    .productInfo {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .productName {
        font-family: $p-fontFamily;
        color: black;
      }

      .productDescription {
        font-family: $p-fontFamily;
        color: black;
        display: flex;
        align-items: center;
        min-height: 40px;
      }

      .productPrice {
        font-family: $p-fontFamily;
        color: black;
      }

      .stockStatus {
        display: flex;
        align-items: center;
        gap: 8px;

        &.inStock {
          .stockCircle {
            background-color: rgb(109, 185, 109);
          }
        }

        &.outOfStock {
          .stockCircle {
            background-color: rgb(202, 62, 62);
          }
        }

        .inStockText {
          font-family: $p-fontFamily;
        }

        .stockCircle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }

    /* Add to cart button styling */
    .addToCart {
      @include bttnDesignSecondary;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      cursor: pointer;
      margin-top: auto;
      max-width: 200px;
      padding: 5px;

      .addToCartIcon {
        img {
          width: 15px;
          height: auto;
          margin-left: 20px;
        }
      }
      &:hover {
        background-color: #bbe584c7;
      }
    }
  }
}
