@use "../base/mixins" as *;
@use "../base/variables" as *;

.productPageContent {
  min-height: 100svh;
  position: relative;
  padding: 6.5rem 0 4.5rem;

  background-image: url("/src/assets/productpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 4.5rem $p15 1.5rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    z-index: 0;
  }

  &__title {
    @include sizeTitle;
    @include heading-h1;
    font-family: $h1-h5-fontFamily;
    margin: 20px 20px;
  }

  .productWrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__content {
    width: 100%;
  }
}

#productContainer {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  padding: 0;

  grid-template-columns: repeat(2, 1fr);

  .product-card {
    background-color: #f8f4e9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    position: relative;
    z-index: 0;

    img.product-image {
      width: 100%;
      max-width: 300px;
    }

    .product-info {
      p {
        margin-bottom: 10px;
      }

      .product-name {
        font-family: $p-fontFamily;
        color: $primary-color;
      }

      .product-price {
        font-family: $p-fontFamily;
        color: black;
      }

      .stock-status {
        display: flex;
        gap: 8px;

        &.in-stock {
          .stockCircle {
            background-color: green;
          }
        }

        &.out-of-stock {
          .stockCircle {
            background-color: red;
          }
        }

        .inStockText {
          font-family: $p-fontFamily;
        }

        .stockCircle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }

    .add-to-cart {
      @include bttnDesignSecondary;
      border-radius: 25px;
      cursor: pointer;

      .addToCartIcon {
        img {
          width: 20px;
          height: auto;
          margin: 2px;
        }
      }
      &:hover {
        background-color: #f3dda4;
      }
    }
  }
}
