@use "pages/cart";
@use "base/variables";
@use "base/mixins";
@use "base/layout";
@use "pages/checkout";
@use "pages/product";
@use "pages/hero";
@use "base/header";
@use "base/footer";
@import "@fortawesome/fontawesome-free/css/all.min.css";
