@use "pages/cart";
@forward "base/variables";
@forward "base/mixins";
@forward "base/layout";
@forward "pages/checkout";
@forward "pages/product";
@use "./pages/hero";
@use "base/header";
@use "base/footer";
@import "@fortawesome/fontawesome-free/css/all.min.css";
